@model GestorDeRestaurante.Model.Mesas


@{
ViewData["Title"] = "Catálogo de órdenes";
}

<center>
    <h1> <p style="color:#A6D15B";>Servir una órden</p></h1>
</center>


      <table class="table table-bordered" >
          @foreach (var item in Model.PlatillosAsociadosALaMesa)
                {
                <tr>
                 <td  WIDTH="50" HEIGHT="50">
                @Html.DisplayFor(modelItem => item.Nombre)
                 </td>
                   <td WIDTH="50" HEIGHT="50" >
                  @Html.ActionLink("Seleccionar", "SeleccionarPlatillos", new { id=item.Id, id_Mesa = Model.Id}) 
                 </td>
                 </tr>        
                   }
      </table>
     
      <div>
    <a asp-action="Index">Regresar a la página principal</a>
</div>
