@model GestorDeRestaurante.Model.Menu

@{
    ViewData["Title"] = "Create";
}
<center>
    <i>
        <h1> <p style="color:#C70039";>Agregar platillos al menú</p></h1>
    </i>
</center>

<h4>Platillos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                  <select asp-for="Categoria" asp-items="Html.GetEnumSelectList<GestorDeRestaurante.Model.Categoria>()">
                </select> 
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input type="file" multiple name="Imagen" accept=".jpg,.png"/>
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la página principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
